@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid Serif');


#custom-box{
    background: url('/public/images/BulSU.png');
    background-size: cover;
    background-position: center;
    font-family: 'Droid Serif';
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guess-body{
    background: url('/public/images/bbg2.png');
    background-size: cover;
    background-position: center;
}

#custom-box img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

#dashboard-bg {
    background: url('/public/images/dashboard-bg.png');
    background-size: cover;
}

.logo{
    background: url('/public/images/bulsuLogo.png');
    background-size: cover;
    width: 100px;
    height: 100px;
}
#app-container{
    background-image: url('/public/images/bbg2.png');
    background-size: cover;
    background-position: center;
}


/*show.blade.php*/
#detail_container{
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    display: flex;
    gap: 20%;
}

/*logs.blade.php*/
#logs-table-container {
    justify-self: center;
    transform: scale(0.9);
}